<p class="h4">Works from Json</p>
<div *ngIf="arrWorks" class="row">

  <div *ngFor="let work of arrWorks" class="card col-sm-6" style="width: 18rem;">
    <div class="img"><img src="{{work.ImageURL}}" alt="..." class=""></div>
    <div class="card-body">
      <h5 class="card-title"><span class="badge badge-primary ">{{work.ID}}</span> {{work.Name | uppercase}} </h5>
      <p><span class="badge badge-secondary">{{work.Type}}</span></p>
      <p class="card-text">{{work.Description}}</p>
      <a href="{{work.URL}}" class="btn btn-primary" target="_blank">view website</a>
    </div>
  </div>

</div>
